@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Courgette');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cookie', cursive;
}

p {
    font-family: 'Courgette', cursive;
}

.card-image {
    height: 150px; 
}

.card {
    margin-bottom: 100px;
}

.logo {
    padding: 10px;
}

.nav-tab {
    color: #778899;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.nav-tab:hover,
.nav-tab:focus {
    color: #ffffff;
    background-color: #20b2aa;
}

.breadcrumb {
    color: gray;
    padding: 10px;
}