@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
    font-family: 'Cookie', cursive;
}

p {
    font-family: 'Courgette', cursive;
}

.card-image {
    height: 150px; 
}

.logo {
    padding: 10px;
}

.nav-wrapper {
    font-size: 16px;
}