{% extends 'base.html' %}
{% block document %}
  <title>Add a Recipe | OneTwoCook</title>
    <div class="background responsive-img">
      <div class="container">
        <div class="card-panel addrecipe-border">
          <div class="row">
            <div class="col s12">
              <a href="{{url_for('login')}}"><i class="material-icons left">arrow_back</i>Back to Home</a>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h2>Add A Recipe</h2>
              <div class="divider"></div>
              <!--Modal - More Info. Add a Recipe Form-->
              <div id="moreInfo" class="modal">
                <div class="modal-content">
                  <h4>Completing the Add a Recipe Form</h4>
                  <h5>Not sure what Allergens your recipe may have?</h5>
                  <p>The allergens of the dropdown list of this form have been taken from the main 14 allergens in ingredients according
                  to the <a href="https://www.food.gov.uk/business-guidance/allergen-guidance-for-food-businesses">UK Food Standards Agency.</a></p>
                </div>
              </div>
              <form id="recipe_form" action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
                <h4 class="sub-title">Summary</h4>
                <div class="row">
                  <div class="input-field col s6 m3 xl2" id="cuisine_type">
                    <select name="cuisine_type" required>
                      <option value="" disabled selected>Cuisine</option>
                      {% for cuisine in cuisines %}
                        <option value="{{ cuisine.cuisine_type|capitalize }}">{{ cuisine.cuisine_type }}</option>
                        {% else %}
                        
                      <option value="{{selected_cuisine_type}}" selected>{{selected_cuisine_type}}</option>
                      {% endfor %}
                    </select>
                    <label>Cuisine Type<span class="input_required">*</span></label>
                  </div>
                  <span class="input-field col s3" id="cuisine_type" name="cuisine_type">
                    <a href="{{url_for('add_cuisine')}}" class="btn">Add Cuisine</a>
                  </span>
                </div>
                <div class="row">
                  <div class="input-field col s12 m8">
                    <input id="recipe_name" placeholder="Recipe Name" type="text" name="recipe_name" class="validate" required>
                    <label for="recipe_name">Recipe Name<span class="input_required">*</span></label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 m8">
                    <input id="recipe_summary" placeholder="Recipe Summary" type="text" name="recipe_summary" maxlength="95" class="validate" required>
                    <label for="recipe_summary">Recipe Summary<span class="input_required">*</span></label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s4 m3">
                    <input id="recipe_serves" placeholder="Serves" type="text" name="recipe_serves" class="validate" min="1" max="99" required/>
                    <label for="recipe_serves">Serves:<span class="input_required">*</span></label>
                  </div>
                  <div class="input-field col s8 m5" id="allergens">
                    <select name="allergens" multiple placeholder="Allergens" required>
                      <option value="" disabled>Allergens</option>
                      <option value="no allergens">No Allergens</option>
                      <option value="celery">Celery</option>
                      <option value="crustaceans">Crustaceans (e.g. prawns & lobsters)</option>
                      <option value="eggs">Eggs</option>
                      <option value="fish">Fish</option>
                      <option value="gluten">Gluten (incl. wheat, barley & oats)</option>
                      <option value="lupin">Lupin</option>
                      <option value="milk">Milk</option>
                      <option value="molluscs">Molluscs (e.g. mussels & oysters)</option>
                      <option value="mustard">Mustard</option>
                      <option value="peanuts">Peanuts</option>
                      <option value="sesame seeds">Sesame Seeds</option>
                      <option value="soy beans">Soy Beans</option>
                      <option value="sulphur dioxide">Sulphur Dioxide</option>
                      <option value="tree nuts">Tree Nuts (incl. almonds & cashews)</option>
                    </select>
                    <label>Allergens<span class="input_required">*</span></label>
                    <span class="helper-text" data-error="wrong" data-success="right"><a href="https://www.food.gov.uk/business-guidance/allergen-guidance-for-food-businesses" target="_blank"><i class="material-icons">help</i></a></span>
                  </div>
                  </div>
                <div class="row">
                    <div class="col s12">
                      <input type="checkbox" id="gluten-free" name="gluten-free">
                      <label for="gluten-free">Gluten-free</label>
                    </div>
                  </div>
                <div class="row">
                    <div class="col s12">
                      <input type="checkbox" id="vegetarian" name="vegetarian">
                      <label for="vegetarian">Suitable for Vegetarians</label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12 m11">
                    <label for="img_path">Recipe Image URL<span class="input_required">*</span></label>
                    <input id="img_path" placeholder="Enter here a link to an image of outcome of your recipe" type="text" name="img_path" class="validate" required>
                    <p class="help-block"><small>For help in completing the Add a Recipe form, please <a href="#moreInfo">click here</a></small></p>
                  </div>
                </div>
                <div class="divider"></div>
                <h4 class="sub-title">Ingredients</h4>
                <p>(Maximum: 20 Ingredients)</p>
                <section id="ingredients">
                  <div class="row" id="ingredientRow1">
                    <div class="input-field col s4 m5">
                      <input id="ingredient1_name" placeholder="Ingredient 1" type="text" name="ingredient1_name" lass="validate" required>
                      <label for="ingredient1_name">Ingredient<span class="input_required">*</span></label>
                    </div>
                    <div class="input-field col s3 m3">
                      <input id="ingredient1_quantity" placeholder="Qty" type="number" name="ingredient1_quantity" min="0" max="99" class="validate" required>
                      <label for="ingredient1_quantity">Quantity</label>
                    </div>
                    <div class="input-field col s4 m3">
                      <select name="ingredient1_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient1_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow2" class="ingredientRow">
                    <div class="input-field col s4 m5">
                      <input id="ingredient2_name" type="text" name="ingredient2_name" class="validate">
                      <label for="ingredient2_name">Ingredient 2</label>
                    </div>
                    <div class="input-field col s3 m3">
                      <input id="ingredient2_quantity" type="number" name="ingredient2_quantity" min="0" max="99" class="validate">
                      <label for="ingredient2_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3">
                      <select name="ingredient2_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient2_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow3" class="ingredientRow">
                    <div class="input-field col s4 m5">
                      <input id="ingredient3_name" type="text" name="ingredient3_name" class="validate">
                      <label for="ingredient3_name">Ingredient 3</label>
                    </div>
                    <div class="input-field col s3 m3">
                      <input id="ingredient3_quantity" type="number" name="ingredient3_quantity" min="0" max="99" class="validate">
                      <label for="ingredient3_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3">
                      <select name="ingredient3_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient3_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow4" class="ingredientRow">
                    <div class="input-field col s4 m5">
                      <input id="ingredient4_name" type="text" name="ingredient4_name" class="validate">
                      <label for="ingredient4_name">Ingredient 4</label>
                    </div>
                    <div class="input-field col s3 m3">
                      <input id="ingredient4_quantity" type="number" name="ingredient4_quantity" min="0" max="99" class="validate">
                      <label for="ingredient4_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3">
                      <select name="ingredient4_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient4_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow5" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient5_name">
                      <input id="ingredient5_name" type="text" name="ingredient5_name" class="validate">
                      <label for="ingredient_name5">Ingredient 5</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient5_quantity">
                      <input id="ingredient5_quantity" type="number" name="ingredient5_quantity" min="0" max="99" class="validate">
                      <label for="ingredient5_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient5_units">
                      <select name="ingredient5_units" id="ingredient5_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient5_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow6" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient6_name">
                      <input id="ingredient6_name" type="text" name="ingredient6_name" class="validate">
                      <label for="ingredient6_name">Ingredient 6</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient6_quanity">
                      <input id="ingredient6_quantity" type="number" name="ingredient6_quantity" min="0" max="99" class="validate">
                      <label for="ingredient6_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient6_units">
                      <select name="ingredient6_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient6_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow7" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredients7_name">
                      <input id="ingredients7_name" type="text" name="ingredients7_name" class="validate">
                      <label for="ingredient7_name">Ingredient 7</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient7_quantity">
                      <input type="number" name="ingredient7_quantity" min="0" max="99" class="validate">
                      <label for="ingredient7_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="newIngredientUnits">
                      <select name="ingredient7_units" id="ingredient7_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient7_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow8" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient8_name">
                      <input type="text" name="ingredient8_name" class="validate">
                      <label for="ingredient8_name">Ingredient 8</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient8_quantity">
                      <input type="number" name="ingredient8_quantity" min="0" max="99" class="validate">
                      <label for="ingredient8_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient8_units">
                      <select name="ingredient8_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient8_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow9" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient9_name">
                      <input type="text" name="ingredient9_name" class="validate">
                      <label for="ingredient9_name">Ingredient 9</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient9_quantity">
                      <input type="number" name="ingredient9_quantity" min="0" max="99" class="validate">
                      <label for="ingredient9_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient9_units">
                      <select name="ingredient9_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient9_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow10" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient10_name">
                      <input type="text" name="ingredient10_name" class="validate">
                      <label for="ingredient10_name">Ingredient 10</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient10_quantity">
                      <input type="number" name="ingredient10_quantity" min="0" max="99" class="validate">
                      <label for="ingredient10_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient10_units">
                      <select name="ingredient10_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient10_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow11" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient11_name">
                      <input type="text" name="ingredient11_name" class="validate">
                      <label for="ingredient11_name">Ingredient 11</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient11_quantity">
                      <input type="number" name="ingredient11_quantity" min="0" max="99" class="validate">
                      <label for="ingredient11_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient11_units">
                      <select name="ingredient11_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient11_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow12" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient12_name">
                      <input type="text" name="ingredient12_name" class="validate">
                      <label for="ingredient12_name">Ingredient 12</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient12_quantity">
                      <input type="number" name="ingredient12_quantity" min="0" max="99" class="validate">
                      <label for="ingredient12_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient12_units">
                      <select name="ingredient12_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient12_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow13" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient13_name">
                      <input type="text" name="ingredient13_name" class="validate">
                      <label for="ingredient13_name">Ingredient 13</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient13_quantity">
                      <input type="number" name="ingredient13_quantity" min="0" max="99" class="validate">
                      <label for="ingredient13_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient13_units">
                      <select name="ingredient13_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient13_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow14" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient14_name">
                      <input type="text" name="ingredient14_name" class="validate">
                      <label for="ingredient14_name">Ingredient 14</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient14_quantity">
                      <input type="number" name="ingredient14_quantity" min="0" max="99" class="validate">
                      <label for="ingredient14_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient14_units">
                      <select name="ingredient14_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient14_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow15" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient15_name">
                      <input type="text" name="ingredient15_name" class="validate">
                      <label for="ingredient15_name">Ingredient 15</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient15_quantity">
                      <input type="number" name="ingredient15_quantity" min="0" max="99" class="validate">
                      <label for="ingredient15_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient15_units">
                      <select name="ingredient15_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient15_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow16" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient16_name">
                      <input type="text" name="ingredient16_name" class="validate">
                      <label for="ingredient16_name">Ingredient 16</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient16_quantity">
                      <input type="number" name="ingredient16_quantity" min="0" max="99" class="validate">
                      <label for="ingredient16_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient16_units">
                      <select name="ingredient16_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient16_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow17" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient17_name">
                      <input type="text" name="ingredient17_name" class="validate">
                      <label for="ingredient17_name">Ingredient 17</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient17_quantity">
                      <input type="number" name="ingredient17_quantity" min="0" max="99" class="validate">
                      <label for="ingredient17_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient17_units">
                      <select name="ingredient17_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient17_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow18" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient18_name">
                      <input type="text" name="ingredient18_name" class="validate">
                      <label for="ingredient18_name">Ingredient 18</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient18_quantity">
                      <input type="number" name="ingredient18_quantity" min="0" max="99" class="validate">
                      <label for="ingredient18_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient18_units">
                      <select name="ingredient18_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient18_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow19" class="ingredientRow">
                    <div class="input-field col s4 m5">
                      <input type="text" name="ingredient19_name" id="ingredient19_name" class="validate">
                      <label for="ingredient19_name">Ingredient 19</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient19_quantity">
                      <input type="number" name="ingredient19_quantity" min="0" max="99" class="validate">
                      <label for="ingredient19_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient19_units">
                      <select name="ingredient19_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient19_units">Units</label>
                    </div>
                  </div>
                  <div class="row" id="ingredientRow20" class="ingredientRow">
                    <div class="input-field col s4 m5" id="ingredient20_name">
                      <input type="text" name="ingredient20_name" class="validate">
                      <label for="ingredient20_name">Ingredient 20</label>
                    </div>
                    <div class="input-field col s3 m3" id="ingredient20_quantity">
                      <input type="number" name="ingredient20_quantity" min="0" max="99" class="validate">
                      <label for="ingredient20_quantity">Qty</label>
                    </div>
                    <div class="input-field col s4 m3" id="ingredient9_units">
                      <select name="ingredient20_units">
                        <option value="" disabled selected>Units</option>
                        <option value="can(s)">can(s)</option>
                        <option value="pinch(es)">pinch(es)</option>
                        <option value="teaspoon(s)">teaspoon(s)</option>
                        <option value="tablespoon(s)">tablespoon(s)</option>
                        <option value="cup(s)">cup(s)</option>
                        <option value="millilitres(ml)">millilitres(ml)</option>
                        <option value="milligrams(mg)">milligrams(mg)</option>
                        <option value="litres(l)">litres(l)</option>
                        <option value="grams(g)">grams(g)</option>
                      </select>
                      <label for="ingredient20_units">Units</label>
                    </div>
                  </div>
                </section>
                <div class="divider"></div>
                <h4 class="sub-title">Method</h4>
                <p>(Maximum: 10 Steps)</p>
                <!--Preparation & Cook Times-->
                <div class="row">
                  <div class="input-field col s7 m2">
                    <input id="preparation_time" placeholder="Prep Time" type="number" name="preparation_time" min="0" class="validate">
                    <label for="preparation_time">Prep Time:</label>
                  </div>
                  <div class="input-field col s5 m2">
                    <select name="pt_units" required>
                      <option disabled selected>Units</option>
                      <option value="second(s)">second(s)</option>
                      <option value="minute(s)">minute(s)</option>
                      <option value="hour(s)">hour(s)</option>
                    </select>
                    <label for="pt_units">Units</label>
                  </div>
                  <div class="input-field col s7 m2">
                    <input id="cook_time" placeholder="Cook Time" type="number" name="cook_time" min="0" class="validate" required>
                    <label for="cook_time">Cook Time:<span class="input_required">*</span></label>
                  </div>
                  <div class="input-field col s5 m2" name="ct_units">
                    <select name="ct_units" required>
                      <option disabled selected>Units</option>
                      <option value="second(s)">second(s)</option>
                      <option value="minute(s)">minute(s)</option>
                      <option value="hour(s)">hour(s)</option>
                    </select>
                    <label for="ct_units">Units<span class="input_required">*</span></label>
                  </div>
                </div>
                <!--Method Steps-->
                <section id="method">
                  <div class="row" id="method_step1">
                    <div class="input-field col s1">
                      <p>1.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step1" class="validate">
                      <label for="method_step1">Step 1<span class="input_required">*</span></label>
                    </div>
                  </div>
                  <div class="row" id="method_step2">
                    <div class="input-field col s1">
                      <p>2.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step2" class="validate">
                      <label for="method_step2">Step 2</label>
                    </div>
                  </div>
                  <div class="row" id="method_step3">
                    <div class="input-field col s1">
                      <p>3.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step3" class="validate">
                      <label for="method_step3">Step 3</label>
                    </div>
                  </div>
                  <div class="row" id="method_step4">
                    <div class="input-field col s1">
                      <p>4.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step4" class="validate">
                      <label for="method_step4">Step 4</label>
                    </div>
                  </div>
                  <div class="row" id="method_step5">
                    <div class="input-field col s1">
                      <p>5.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step5" class="validate">
                      <label for="method_step5">Step 5</label>
                    </div>
                  </div>
                  <div class="row" id="method_step6">
                    <div class="input-field col s1">
                      <p>6.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step6" class="validate">
                      <label for="method_step6">Step 6</label>
                    </div>
                  </div>
                  <div class="row" id="method_step7">
                    <div class="input-field col s1">
                      <p>7.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step7" class="validate">
                      <label for="method_step7">Step 7</label>
                    </div>
                  </div>
                  <div class="row" id="method_step8">
                    <div class="input-field col s1">
                      <p>8.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step8" class="validate">
                      <label for="method_step8">Step 8</label>
                    </div>
                  </div>
                  <div class="row" id="method_step9">
                    <div class="input-field col s1">
                      <p>9.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step9" class="validate">
                      <label for="method_step9">Step 9</label>
                    </div>
                  </div>
                  <div class="row" id="method_step10">
                    <div class="input-field col s1">
                      <p>10.</p>
                    </div>
                    <div class="input-field col s10">
                      <input type="text" name="method_step10" class="validate">
                      <label for="method_step10">Step 10</label>
                    </div>
                  </div>
                </section>
                <div class="divider"></div>
                <h4 class="sub-title">Author:</h4>
                <div class="row">
                  <div class="input-field col s12 m4">
                    <input disabled value="{{ session['username'] }}" id="author_name" type="text" name="author_username" class="validate">
                    <label for="author_username">Your Name</label>
                  </div>
                  <div class="input-field col s12 m5">
                    <input disabled value="{{ session['user_dob'] }}" type="text" id="user_dob" name="author_dob">
                    <label for="author_dob">User ID (Hidden from public)</label>
                  </div>
                  <div class="input-field col s12 m3">
                    <input disabled value="{{ session['user_region'] }}" type="text" id="user_region" name="author_region">
                    <label for="author_region">Your Region</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <p class="caption">Make Recipe Public</p>
                      <div class="switch">
                        <label for="public_visibility">
                          <b>NO</b>
                          <input type="checkbox" class="filled-in" checked="checked" id="public_visibility" name="public_visibility">
                          <span class="lever"></span>
                          <b>YES</b>
                        </label>
                      </div>
                  </div>
                </div>
                <!--Add a Recipe Requirements Message-->
                <div class="row">
                  <div class="col s12">
                    <p>In order to submit a recipe, please ensure all fields with <span class="input_required">*</span> have been completed</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit">
                      Submit
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}