{% extends 'base.html' %}
{% block document %}
    <div class="background responsive-img">
        <div class="container">
            <div class="card-panel recipe-border">
                <h2>Edit A Recipe</h2>
                <div class="row">
                    <div class="col s12">
                        {% for recipe in recipes %}
                        <title>Edit Recipe: {{recipes.recipe_name}} | OneTwoCook</title>
                        {% endfor %}
                        <a class="left" href="{{url_for('manage_recipes')}}"><i class="material-icons left">arrow_back</i>Back to Manage Your Recipes</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6">
                        <h5><b>Summary</b></h5>
                        <label for="recipe_name">Recipe Name</label>
                        <input value="{{recipes.recipe_name}}">
                        <label for="recipe_summary">Recipe Summary</label>
                        <input value="{{recipes.recipe_summary}}">
                        <label for="serves">Serves</label>
                        <input value="{{recipes.recipe_serves}}">
                        <label for="cook_time">Cook Time</label>
                        <input value="{{recipes.cook_time}}">
                        <label for="preparation_time">Prep Time</label>
                        <input value="{{recipes.preparation_time}}">
                    </div>
                    <div class="col s12 m6">
                        <a href ="../../static/images/{{recipes.img_path}}" target="_blank">
                            <img class="responsive-img right" width="350" src="../../static/images/{{recipes.img_path | default('placeholder_image.png')}}"/>
                            
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12">
                        <h5><b>Ingredients</b></h5>
                        <span class="col s12 m3">
                            <label for="ingredient_quantity">Quantity</label>
                            <input value="{{ recipes.ingredients.ingredient1_quantity }}"/>
                        </span>
                        <span class="col s12 m3">
                            <label for="ingredient_units">Units</label>
                            <input value="{{recipes.ingredients.ingredient1_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <label for="ingredient_name">Name</label>
                            <input value="{{recipes.ingredients.ingredient1_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient2_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient2_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient2_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient3_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient3_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient3_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient4_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient4_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient4_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient5_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient5_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient5_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient6_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient6_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient6_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient7_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient7_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient7_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient8_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient8_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient8_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient9_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient9_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient9_name}}"/>
                        </span>
                        
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient10_quantity}}"/>
                        </span>
                        <span class="col s12 m3">
                            <input value="{{recipes.ingredients.ingredient10_units}}"/>
                        </span>
                        <span class="col s12 m6">
                            <input value="{{recipes.ingredients.ingredient10_name}}"/>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5><b>Method</b></h5>
                        <input value="{{recipes.method.method_step1}}"/>
                        <input value="{{recipes.method.method_step2}}"/>
                        <input value="{{recipes.method.method_step3}}"/>
                        <input value="{{recipes.method.method_step4}}"/>
                        <input value="{{recipes.method.method_step5}}"/>
                        <input value="{{recipes.method.method_step6}}"/>
                        <input value="{{recipes.method.method_step7}}"/>
                        <input value="{{recipes.method.method_step8}}"/>
                        <input value="{{recipes.method.method_step9}}"/>
                        <input value="{{recipes.method.method_step10}}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m3">
                        <h5><b>Author</b></h5>
                        <input name="author_username" class="validate" disabled value="{{recipes.author.author_username}}"/>
                        <label for="Author Region">Region</label>
                        <input name="author_region" value="{{recipes.author.author_region}}"/>
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col s7 offset-s5 m7 offset-m9">
                        <button class="btn waves-effect waves-light" type="submit">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}