{% extends 'base.html' %}
{% block document %}
  <title>Home | OneTwoCook</title>
      <div class="background responsive-img">
        <div class="container">
          <div class="card-panel cuisine-border">
          <div class="row">
            <div class="col s12">
              <h2 class="center">Welcome</h2>
              <p class="center">Explore recipes through selecting a cuisine below.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1">
              {% for cuisine in cuisines %}
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <a href="{{url_for('recipes_for_cuisine_guest', cuisine_type = cuisine.cuisine_type)}}">
                      {% if cuisine.cuisine_type == 'African' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_african.png')}}" />
                      {% elif cuisine.cuisine_type == 'Caribbean' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_caribbean.png')}}" />
                      {% elif cuisine.cuisine_type == 'Chinese' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_chinese.png')}}" />
                      {% elif cuisine.cuisine_type == 'Indian' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_indian.jpg')}}" />
                      {% elif cuisine.cuisine_type == 'Irish' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_irish.jpg')}}" />
                      {% elif cuisine.cuisine_type == 'Thai' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_thai.png')}}" />
                      {% elif cuisine.cuisine_type == 'Turkish' %}
                        <img class="activator responsive-img" src="{{url_for('static', filename='images/coverphoto_turkish.png')}}" />
                      <!--If user adds a new cuisine then coverphoto_other will appear as its image-->
                      {% else %}
                        <img class="activator" src="{{url_for('static', filename='images/coverphoto_other.jpg')}}" />
                      {% endif %}
                    </a>
                  </div>
                  <!--/If user adds a new cuisine then coverphoto_other will appear as its image-->
                  
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>
                      <a class="link" href="{{url_for('recipes_for_cuisine_guest', cuisine_type = cuisine.cuisine_type)}}">
                        <h3>{{cuisine.cuisine_type}}</h3>
                      </a>
                    </span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>
                      <h2>{{cuisine.cuisine_type}}</h2>
                    </span>
                    <p>{{cuisine.cuisine_summary}}</p>
                    <div class="col m12 center">
                      <a class="button center" href="{{url_for('recipes_for_cuisine_guest', cuisine_type=cuisine.cuisine_type)}}">
                        <button class="cuisine-btn">Explore {{cuisine.cuisine_type}} Cuisine!</button>
                      </a>
                    </div>
                  </div>
                </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}