{% extends 'base.html' %}
{% block document %}
  <div class="background">
    <div class="container">
      <div class="card-panel recipe-border">
        <h2 class="center">Index of Recipes</h2>
        <p class="center">Below is a collection of all the recipes already available and visible to the public on this site.</p>
          <div class="row">
            {% for recipe in recipes %}
            <div class="col s12 m6 l6">
              <div class="card">
                <div class="card-image waves-effect waves-block">
                  <img class="#" src="{{url_for('static', filename='images/placeholder_image.png')}}" />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>
                    <h3>{{recipe.recipe_name}}</h3>
                  </span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>
                    <h3>{{recipe.recipe_name}}</h3>
                  </span>
                  <p>{{recipe.recipe_summary}}<p>
                  <a class="button" href="{{url_for('load_recipe', recipe_name=recipe.recipe_name)}}">{{recipe.recipe_name}} Recipe</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}