{% extends 'base.html' %}
{% block document %}
    {% for listofrecipes in listofrecipes %}
        <div class="col s12">
            <a href="{{ url_for('home') }}" class="breadcrumb">Home</a>
            <a class="breadcrumb">{{cuisine.cuisine_type}}</a>
        </div>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
          {% if recipe.recipe_name == 'Mustard Champ' %}
            <img class="activator" src="{{url_for('static', filename='images/irish_mustardchamp.jpg')}}" />
          {% endif %}
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>
            <h3>{{recipe.recipe_name}}</h3></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>
            <h3>{{recipe.recipe_name}}</h3></span>
            <p>{{recipe.recipe_summary}}<p>
            <a class="button" href="{{ url_for('load_recipe') }}">Explore {{recipe.recipe_name}} Cuisine!</a>
          </div>
        </div>


    {% endfor %}
{% endblock %}