{% extends 'baseforguest.html' %}
{% block document %}
        <title>Login | OneTwoCook</title>
            <div class="background responsive-img">
                <div class="container">
                    <div class="card-panel cuisine-border">
                        <div class="row">
                            <div class="col s12">
                                <h2>Create a Username</h2>
                                <form method="POST" id="login" action="">
                                    <div class="col s8">
                                        <p class="row">
                                            For free access to create and manage recipes, please type in a username:
                                        </p>
                                        <div class="row">
                                        <div class="col s6 m8">
                                            <input type="text" class="form-control">
                                        </div>
                                        <span>
                                            <a href="" class="btn tooltipped" data-position="right" 
                                        data-tooltip="Submit your username to get full access">Submit</a>
                                        </span>
                                        </div>
                                        <p class="row guest">
                                            <a href="{{ url_for('guest') }}">Continue as Guest</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}