{% extends 'base.html' %}
{% block document %}
    <title>Login | OneTwoCook</title>
    <div class="background responsive-img">
        <div class="container">
            <div class="card-panel home-border">
                <div class="row">
                    <div class="col s12">
                        <h2 class="center">Enter your name</h2>
                        <form method="POST" id="login">
                            <div class="col s12">
                                <p class="row center">
                                    For free full access to create and manage recipes, please type in your name:
                                </p>
                                <div class="row center">
                                    <div class="col s12 m6 offset-m3">
                                        <input type="text" placeholder="Your name" id="username" name="username" maxlength="20" required/>
                                        <button class="btn tooltipped center" data-position="bottom" data-tooltip="Submit your username to get full access">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                                <p class="row guest center">
                                    <a href="{{ url_for('guest') }}">Continue as Guest</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}