{% extends 'base.html' %}
{% block document %}
  <div class="background responsive-img">
    <div class="container">
      <div class="card-panel managecreation-border">
        <div class="row">
          <div class="col s12">
            <div class="card-content">
              
              <!--Back to home page link-->
              <div class="row">
                <div class="col s12">
                  <a href="{{url_for('login')}}"><i class="material-icons left">arrow_back</i>Back to Home</a>
                </div>
              </div>
              
              <!--Manage Your Creations Options-->
              <section id="manage_creations">
              <h2 class="center">Manage Your Creations</h2>
              <div class="row center">
                <div class="col s12 m6 l4">
                  <a href="#manage_recipes">
                    <div class="box-option hoverable">
                      <h3>Manage Your Recipes</h3>
                      <p>See the recipes you've created..</p>
                    </div>
                  </a>
                </div>
                <div class="col s12 m6 l4">
                  <a href="#manage_cuisines">
                    <div class="box-option hoverable">
                      <h3>Manage Your Cuisines</h3>
                      <p>See the cuisines you've created..</p>
                    </div>
                  </a>
                </div>
                <div class="col s12 m6 l4">
                  <a href="#saved_recipes">
                    <div class="box-option hoverable">
                      <h3>Saved Recipes</h3>
                      <p>See your saved recipes..</p>
                    </div>
                  </a>
                </div>
              </div>
              </section>
              
              <div class="divider"></div>
              
              <section id="manage_recipes">
              <h3 class="center">Manage Your Recipes</h3>
              
              <!--No. of recipes created by user-->
              <h5 class="center">Recipes created by you: <b>{{user_recipe_count}}</b></h5>
              <div class="row">
                <div class="col s12">
                    
                  {% for recipe in recipes %}
                    <!--Modal - Delete Recipe-->
                    <div id="delete{{recipe.recipe_name}}" class="modal">
                      <div class="modal-content">
                        <h4>Delete confirmation for {{recipe.recipe_name}} recipe</h4>
                        <p>Are you sure you wish to delete this recipe? This cannot be undone.</p>
                      </div>
                      <div class="modal-footer">
                        <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}" class="modal-close waves-effect waves-green btn">YES</a>
                        <a href="http://onetwocook.herokuapp.com/manage_creations#manage_recipes" class="modal-close waves-effect red btn">NO</a>
                      </div>
                    </div>  
                    
                      <!--Recipe Card Display-->
                      <div class="col s12 l4">
                        <div class="card">
                          <div class="card-image waves-effect waves-block hover-content">
                            <img class="responsive-img" src="{{recipe.img_path}}" alt={{recipe.recipe_name}} >
                          </div>
                          <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                            <h5 class="truncate">{{recipe.recipe_name|capitalize }}</h5>
                          </div>
                          <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                              <i class="material-icons right">close</i>
                              <h4>{{recipe.recipe_name|capitalize }}</h4>
                              <div class="divider"></div>
                            </span>
                            <p>Public Visibility: {{recipe.public_visibility}}</p>
                            <div class="col-12">
                              <a href="{{url_for('view_your_recipe', recipe_name = recipe.recipe_name, recipe_id = recipe._id)}}" class="waves-effect waves-light green btn manager">View<i class="material-icons right">fullscreen</i></i></a>
                            </div>
                            <div class="col-12"> 
                              <a href="{{url_for('edit_recipe', recipe_id = recipe._id, recipe_name = recipe.recipe_name)}}" class="btn halfway-fab waves-effect grey lighten-2 manager">Edit<i class="material-icons right">edit</i></a>
                            </div>
                            <div class="col-12">
                              <a class="waves-effect waves-light red btn modal-trigger manager" href="#delete{{recipe.recipe_name}}">Delete<i class="material-icons right">delete</i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% else %}
                      <!--If user has not created any recipes, provide link for user if they want to create one-->
                      <p class="center"><b>{{ session['username'] }}, you have not yet created any recipes.</b></p>
                      <div class="center"><a href="{{url_for('add_recipe')}}" class="btn">Ready to create one?</a></div>
                    {% endfor %}
                  
                </div>
              </div>
              </section>
            </div>
          </div>
        </div>
        <div class="divider"></div>
            
            
              
        <!--Manage Cuisines Information-->
        <section id="manage_cuisines">
          <h3 class="center">Manage Your Cuisines</h3>
          <!--No. of cuisines created by user-->
          <h5 class="center">Cuisines created by you: <b>{{user_cuisine_count}}</b></h5>
          <div class="row">
            <div class="col s12">
              
                {% for cuisine in cuisines %}
                  <!--Modal - Delete Cuisine-->
                  <div id="delete{{cuisine.cuisine_type}}" class="modal">
                    <div class="modal-content">
                      <h4>Confirmation to delete {{cuisine.cuisine_type|capitalize }} cuisine</h4>
                      <p>Are you sure you wish to delete this cuisine?</p>
                    </div>
                    <div class="modal-footer">
                      <a href="{{url_for('delete_cuisine', cuisine_id = cuisine._id, cuisine_type = cuisine.cuisine_type)}}" class="modal-close waves-effect waves-green btn">YES</a>
                      <a href="http://onetwocook.herokuapp.com/manage_creations#manage_cuisines" class="modal-close waves-effect red btn">NO</a>
                    </div>
                  </div>
                  <!--Cuisine Card Display-->
                  <div class="col s12 l4">
                    <div class="card">
                      <div class="card-image waves-effect waves-block">
                          <img class="responsive-img" src="{{url_for('static', filename='images/coverphoto_other.jpg')}}" alt={{cuisine.cuisine_type}}>
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                          <h5 class="truncate">{{cuisine.cuisine_type|capitalize }}</h5>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                          <i class="material-icons right">close</i>
                          <h4>{{cuisine.cuisine_type|capitalize }}</h4>
                          <div class="divider"></div>
                        </span>
                        <p>{{cuisine.cuisine_summary}}</p>
                          <div class="col-12"> 
                            <a href="{{url_for('edit_cuisine', cuisine_id = cuisine._id, cuisine_type = cuisine.cuisine_type)}}" class="btn halfway-fab waves-effect grey lighten-2 manager">Edit<i class="material-icons right">edit</i></a>
                          </div>
                          <div class="col-12">
                            <a class="waves-effect waves-light red btn modal-trigger manager" href="#delete{{cuisine.cuisine_type}}">Delete<i class="material-icons right">delete</i></a>
                          </div>
                          <!--<p class="alert">Recipes available. This cuisine cannot be edited/deleted.</p>-->
                        
                      </div>
                    </div>
                  </div>
                  
                  {% else %}
                  
                  <!--If user has not created any cuisines, provide link for user if they want to create one-->
                  <p class="center"><b>{{ session['username'] }}, you have not created any cuisines.</b></p>
                  <p class="center">To create a new cuisine click on the Add Cuisine button on the <a href="{{url_for('add_recipe')}}">Add a Recipe</a> page.</p>
                {% endfor %}
              
            </div>
          </div>
        </section>
        
        <div class="divider"></div>
        
        <!--Saved Recipes Information-->
        <section id="saved_recipes">
          <div class="row">
            <div class="col s12">
              <h3 class="center">Saved Recipes</h3>
                {% for recipe in recipes %}
                <!--Saved Recipes Card display here-->
                  <div class="card">
                    <span class="card-title">{{recipe.recipe_name}}</span>
                    <div class="card-content">
                      <p>{{recipe.recipe_name}}</p>
                    </div>
                  </div>
                {% else %}
                  <!--If user has not saved any recipes, provide link for user if they want to create one-->
                    <p class="center fade-feature"><b>{{ session['username'] }}, you have no saved recipes.</b></p>
                    <p class="center fade-feature">To save a recipe click on <a class="btn"><i class="material-icons">thumb_up</i></a> 
                    by the title of a recipe and the recipes you liked will appear in this section.</p>
                {% endfor %}
            </div>
          </div>
        </section>
        
      </div>
    </div>
  </div>
{% endblock %}