{% extends 'base.html' %}
{% block document %}
  <div class="background responsive-img">
    <div class="container">
      <div class="card-panel recipe-border">
        <h2 class="center">Recipes</h2>
          <div class="row">
            <div class="col s12">
              <a href="{{url_for('login')}}"><i class="material-icons left">arrow_back</i>Back to Home</a>
            </div>
          </div>
          <div class="row">
            {% for recipe in recipes %}
            <title>{{recipe.cuisine_type}} Recipes | OneTwoCook</title>
            <div class="col s12 m6 l6">
              <div class="card hoverable">
                <div class="card-image waves-effect waves-block">
                  <a href="{{url_for('load_recipe', recipe_name = recipe.recipe_name)}}">
                    <img class="responsive-img" src="../../static/images/{{recipe.img_path | default('placeholder_image.png')}}" alt={{recipe.recipe_name}} >
                  </a>
                </div>
                <div class="card-content">
                  <a class="link" href="{{url_for('load_recipe', recipe_name = recipe.recipe_name)}}">
                    <h5 class="truncate">{{recipe.recipe_name}}</h5>
                  </a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>
                    <h4>{{recipe.recipe_name}}</h4>
                    <hr>
                  </span>
                  <p>{{recipe.recipe_summary}}</p>
                  <p>Serves: {{recipe.recipe_serves}} people</p>
                  <!--Add If statement to display allergens and hide text if no allergens are listed-->
                  <p>Ingredients contain: {{recipe.allergens.allergen_1}} {{recipe.allergens.allergen_2}} {{recipe.allergens.allergen_3}} {{recipe.allergens.allergen_4}} {{recipe.allergens.allergen_5}}</p>
                  <a class="button" href="{{url_for('load_recipe', recipe_name = recipe.recipe_name)}}"><button>Go to Recipe</button></a>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}