{% extends 'base.html' %}
{% block document %}
  <div class="background">
    <div class="container">
      <form method="POST">
        <h4>Please type in a username to continue</h4>
        <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
            <button class="btn waves-effect waves-light right" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
      </form>
    </div>
  </div>
{% endblock %}